@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin: 0px;
}

button {
    background-color: blue;
    color: white;
    padding: 20px;
    font-size: 20px;

    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
